<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button">The Cocktail Connoisseur</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/cocktails" class="w3-bar-item w3-button">Cocktails</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top: 250px;" id="home">
  <div class="w3-display-middle w3-padding w3-black w3-opacity-min">
    <h1 class="w3-xxlarge w3-text-white"><b>The Cocktail Connoisseur</b></h1>
  </div>
</header>

<img class="w3-image" src="https://images.squarespace-cdn.com/content/v1/5efb9254c35e076d7e171814/1595970531808-9NBUSRDCJFLQ1Q7WYZMP/cocktail-divider.jpg" alt="Cocktails" width="1500" height="800" style="margin-top: -75px;">

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> To look up a cocktail by name, click the "Cocktails" button in the upper right corner.<br>If your search does not produce any results, you will be returned to the home page.<br>If you type "random", a random cocktail will be displayed.<br>You can also click on the ingredients to learn more about them!
    </p>
  </div>
 
<!-- End page content -->
</div>


</body>
</html>
