<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
  .search{
    margin: auto;
    width: 50%;
  }
</style>

</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button">The Cocktail Connoisseur</a>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top: 250px;" id="home">
  <div class="w3-display-middle w3-padding w3-black w3-opacity-min">
    <h1 class="w3-xxlarge w3-text-white"><b>Search for a Cocktail:</b></h1>
  </div>
    <form action="/search" method="get" class="w3-container w3-padding search">
      <input class="w3-input w3-border w3-round-large" type="text" placeholder="Enter a cocktail name" name="search" required>
      <button class="w3-button w3-white w3-round-large w3-border w3-border-black w3-hover-black w3-hover-text-white" type="submit">Search</button>
    </form>
</header>

<!-- End page content -->
</div>

</body>
</html>
